body {
  background: #eeeeee;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
}
.container #score {
  font-size: 20pt;
  color: #1d1d1d;
  opacity: 0.8;
  user-select: none;
}
.container #page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container #page #game {
  height: auto;
  width: 450px;
  padding: 20px;
  box-shadow: 10px 10px 100px 10px #afafaf;
  border: 1px dashed #000000;
  border-radius: 10px;
}
.container #page .keyboard-info {
  width: 15%;
  height: auto;
  color: #1d1d1d;
  margin: 3%;
}
@media (max-width: 850px) {
  .container #page .keyboard-info {
    font-size: 1.5vw;
  }
}
.container #page .touch-info {
  order: -1;
  width: 15%;
  height: auto;
  color: #1d1d1d;
  margin: 3%;
}
@media (max-width: 850px) {
  .container #page .touch-info {
    font-size: 1.5vw;
  }
}
