body {
    background: linear-gradient(0deg, yellow, green 20%, rgb(253, 211, 218));

}

.page {
    height: 98vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px dashed white;
    border-radius: 10px;
}

#tetris {
    height: 800px;
    width: 480px;
    padding: 20px;
    box-shadow: 10px 10px 100px 10px black;
    border: 1px dashed yellow;
    border-radius: 10px;
}

#score {
    margin: 0;
    padding: 0;
    left: 20px;
    position: absolute;
    padding-left: 200px;
    font-size: 350pt;
    text-shadow: 5px 5px 40px red;
    font-family: Nunito;
    color: #423f3f;
    opacity: 0.3;
}